<!DOCTYPE html>
<html>

<head>
  <title> Hello! (click text) </title>
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='home.css') }}" /> <!-- CSS -->
  <script src="{{ url_for('static', filename='home.js') }}"></script> <!-- JavaScript -->
  <h1 id="maintitle", onclick="myFunction2()"> Hello, is it me you're looking for?  </h1>
</head>
<body>
  <p1 id="hello", onclick="myFunction()">Press me</p1>
  <br/><br/><br/>
<p1>
 <img id="theimage" src="/static/images/lionel.jpg" alt="LionellRitchie" style="width:304px;height:228px;border-radius:50%;" align="middle">
</body>
</p1>
</html>
